.text-center{
    text-align: center;
    background: red;
    margin-left: 450px;
    margin-right: 450px;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
    background: purple;
    margin-left: 500px;
    margin-right: 500px;
}
.flex{
display: flex;
}
.flex-col{
flex-direction: column;
}
.items-center{
    align-items: center;
}